
$sizes: (
    title: (
        1: 2rem,
        2: 1.5rem,
        3: 1.25rem,
        4: .875rem,
        height: 3.3125rem,
    ),
    button: (
        1: 1rem,
        2: .875rem,
    ),
    text: (
        1: 1rem,
        2: .875rem,
        3: .75rem,
    ),
    radius: (
        1: .9375rem,
        2: 1.25rem,
        3: 1.875rem,
        4: 2.5rem,
        5: 3.125rem,
    ),
    margin: (
        1: .625rem,
        2: 1.25rem,
        3: 1.875rem,
        4: 2.5rem,
        5: 3.125rem,
    ),
    padding: (
        1: 1.875rem,
        2: 3.125rem,
        3: 4.6875rem,
        4: 5.625rem,
        5: 7.1875rem,
    ),
);